.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  position: relative;
  height: 400px;
  margin-top: 20px;
  border-radius: 18px;
  width: 19%;
}

.product-img {
  width: 100%;
  line-height: 1.5;
  background-color: antiquewhite;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.product-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.product-heart:hover {
  color: blue;
}

.product-buy-wrapper {
  padding: 5px 5px 2px 5px;
  border: 1px solid gray;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  right: 10px;
  border-radius: 50%;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  color: black;
  bottom: 10px;
  left: 0;
}

.product-mark {
  line-height: 2;
  border-radius: 4px;
  padding: 5px 8px;
  font-size: 16px;
}

.product-del {
  font-size: 14px;
  position: absolute;
  bottom: 40px;
  color: grey;
  left: 0;
}

.product-wrapper a {
  text-decoration: none;
}

.product-wrapper h3, .product-wrapper p {
  color: black;
}


@media(max-width:1280px) {
  .product-item {
    width: 24%;
  }
}

@media(max-width:960px) {
  .product-item {
    width: 32%;
  }
} 

@media(max-width:640px) {
  .product-item {
    width: 48%;
  }
}

.product-heart.liked {
  color: rgb(255, 0, 8);
  cursor: pointer;
  transition: color 0.3s;
}

.product-heart.like {
  color: rgb(165, 160, 160);
  cursor: pointer;
  transition: color 0.3s;
}