/* Footer umumiy style */
.footer-top {
  margin-top: 50px;
  padding: 40px 0;
  margin-bottom: 150px;
}

.footer-top-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-top-links {
  list-style: none;
  padding: 0;
}

.footer-top-link-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.footer-top-link a {
  text-decoration: none;
  line-height: 2;
  color: #9b9b9b;
  transition: color 0.3s;
}

.footer-top-link a:hover {
  color: #ff5722;
}

/* Ilova yuklab olish qismi */
.footer-top-ilovalar-wrapper p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.footer-top-ilovalar {
  display: flex;
  gap: 10px;
}

.footer-top-ilova-ios,
.footer-top-ilova-android {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(9, 4, 4);
  border-radius: 5px;
  line-height: 2;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-top-ilova-icon {
  font-size: 20px;
}

/* Ijtimoiy tarmoqlar */
.footer-top-tarmoqlar-wrapper p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

.footer-top-tarmoqlar {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-top-tarmoqlar div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.footer-instagram-icon-wrapper {
  background: linear-gradient(
    45deg,
    #fccc63,
    #f77737,
    #e4405f,
    #c13584,
    #833ab4,
    #405de6
  );
  color: white;
  font-size: 26px;
}
.footer-instagram-icon-wrapper:hover {
  background: linear-gradient(
    45deg,
    #fccc63,
    #f77737,
    #e4405f,
    #c13584,
    #833ab4,
    #405de6
  );
  filter: brightness(1.1);
}

.footer-telegram-icon-wrapper {
  background-color: #0088cc;
  color: white;
  font-size: 26px;
}
.footer-telegram-icon-wrapper:hover {
  background-color: #006699;
}

.footer-facebook-icon-wrapper {
  background-color: #1877f2;
  color: white;
  font-size: 26px;
}
.footer-facebook-icon-wrapper:hover {
  background-color: #1256a2;
}

.footer-youtube-icon-wrapper {
  background-color: #ff0000;
  font-size: 26px;
  color: white;
}
.footer-youtube-icon-wrapper:hover {
  background-color: #cc0000;
}

/* Media queries */
@media (max-width: 1024px) {
  .footer-top-tarmoqlar-wrapper {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

@media (max-width: 1010px) {
  .footer-top-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-top-tarmoqlar {
    justify-content: center;
  }
  .footer-top-ilovalar {
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer-top-link {
    display: none;
  }

  .footer-top-ilova-ios,
  .footer-top-ilova-android {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    margin: 10px auto;
    line-height: 1.3;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
